force-app/main/default/flows/Flow_Connection_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Connect_Flow</name>
        <label>Connect Flow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>TestFloq.ConnectToFlow</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>tdgg</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <stringValue>select id,  name from account</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TestFloq.ConnectToFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assa</name>
        <label>assa</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cereee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tdgg</name>
        <label>tdgg</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>allacc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connect_Flow.2XX.records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Flow Connection Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Connection Test</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>allacc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_accounts</name>
        <label>create accounts</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>cereee</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p&gt;{!Connect_Flow.2XX.records}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Connect_Flow</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;Pls Press next&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acceach</name>
        <apexClass>ExternalService__TestFloq_ConnectToFlow_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allacc</name>
        <apexClass>ExternalService__TestFloq_ConnectToFlow_OUT_2XX_records</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cereee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
