force-app/main/default/flows/Nabil_s_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Connect_Action_1</name>
        <label>Connect Action 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>NabilConect.Connect</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>testrr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <stringValue>select id, name from Opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NabilConect.Connect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>eachrec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_oops</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sdassdff</name>
        <label>sdassdff</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>teastg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Connect_Action_1.2XX.records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Nabil s Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nabil s Flow</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>teastg</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_2</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_oops</name>
        <label>create oops</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_1.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>testrr</name>
        <label>testrr</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>sdassdff</targetReference>
        </connector>
        <fields>
            <name>records</name>
            <fieldText>&lt;p&gt;{!Connect_Action_1.2XX.records}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Connect_Action_1</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eachrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>teastg</name>
        <apexClass>ExternalService__NabilConect_Connect_OUT_2XX_records</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tesfdsf</name>
        <apexClass>ExternalService__TestFloq_ConnectToFlow_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
