force-app/main/default/flows/New_Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Coonection_Actiom</name>
        <label>Coonection Actiom</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>NewTestConnect.NewTest</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_Payload</targetReference>
        </connector>
        <faultConnector>
            <targetReference>No_Connection</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>q</name>
            <value>
                <stringValue>select id, name from opportunity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTestConnect.NewTest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Opps</name>
        <label>Assign Opps</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>eachOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTheOpps.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payload</name>
        <label>Assign Payload</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Payload</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coonection_Actiom.2XX.records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>New Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Test Flow</label>
    <loops>
        <name>LoopTheOpps</name>
        <label>LoopTheOpps</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Payload</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opps</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>No_Connection</name>
        <label>No Connection</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noConnect</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.InterviewGuid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opps</name>
        <label>Opps</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopTheOpps</targetReference>
        </connector>
        <fields>
            <name>ShowOpps</name>
            <fieldText>&lt;p&gt;{!eachOpp.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopTheOpps</targetReference>
        </connector>
        <fields>
            <name>result</name>
            <fieldText>&lt;p&gt;{!Payload}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Coonection_Actiom</targetReference>
        </connector>
        <fields>
            <name>screen</name>
            <fieldText>&lt;p&gt;Welcome press&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eachOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Payload</name>
        <apexClass>ExternalService__NewTestConnect_NewTest_OUT_2XX_records</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
